<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logica.Properties.Settings.EjercicioAlcaldiaConnectionString"
            connectionString="Data Source=DESKTOP-QU7FNVF\SQLEXPRESS;Initial Catalog=EjercicioAlcaldia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>